@font-face { font-family: 'open-sans-bold'; src: url("../media/fonts/open-sans-bold.ttf") format('truetype'); }

body {
    font-family: "open-sans-bold", sans-serif;
    text-align:center;
    color: #2C0E37;
    background-color: #FBFAF8;
    
}

button {
    font-family: inherit;
    background-color: #2C0E37; 
    border: none;
    color: #FBFAF8;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

img {
    width: max-width;
    max-width: 100%;
}

